.App {
  text-align: center;
}

.morena_red {
  color: #941725;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.texto {
  /* position: absolute;
  top: 20%;
  left: 30%; */
  color: white;
  /* font-size: 4rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.navbar_morena {
  position: fixed;
  /* width: fit-content; */
  left: 0;
  right: 0;
  top: 0;
  /* margin: 1% auto; */
  z-index: 99;
  transition: 500ms;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* color: black; */
  /* display: flex; */
  justify-content: center;
}

.navbar_morena a {
  color: rgb(255, 255, 255);
  text-decoration: none !important;
  font-family: "owsald-light" !important;
  /* font-size: larger; */
  font-size: 1rem;
  transition: 500ms;
  font-weight: bolder;
}

.navbar_morena a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline !important;
  /* text-underline-position: above; */
  /* text-decoration: none !important; */
}

.cont-vid {
  /* width: 100vw; */
  height: 100vh;
  background-color: black;
  position: relative;
}

.img-contain {
  object-fit: contain !important;
}

.ds_logo {
  width: 20rem;
  position: absolute;
  right: 5%;
  bottom: 0;
  top: 0;
}

.ds_logo_trayectoria {
  width: 90%;
  position: absolute;
  /* right: 5%; */
  left: 5%;
  bottom: 0;
  top: 0;
}

.bg_perfilDaniel {
  background-image: url("./resources/fotoDS1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.bg_trayectoriaDS {
  background-image: url("./resources/trayectoriaDS.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.nvocolor_rojo {
  /* background-color: #cdcdcd; */
  background-image: linear-gradient(140deg, #cdcdcd, #f1f0f0);
  /* box-shadow: 0px 2px 7px -3px grey; */
}

.nvocolor_rojo a {
  color: #941725 !important;
}

.modal_cont {
  background-color: #000000db;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}

.close_modal {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: x-large;
  cursor: pointer;
}

.cursor_pointer {
  cursor: pointer;
}

.scroll_custom::-webkit-scrollbar {
  height: 3px;
}

.scroll_custom::-webkit-scrollbar-track {
  background-color: #00000000;
}

.scroll_custom::-webkit-scrollbar-thumb {
  background-color: #00000000;
}

.scroll_custom::-webkit-scrollbar-thumb:hover {
  background-color: #941725;
}

.scroll_customy::-webkit-scrollbar {
  width: 3px;
}

.scroll_customy::-webkit-scrollbar-track {
  background-color: #00000000;
}

.scroll_customy::-webkit-scrollbar-thumb {
  background-color: #00000000;
}

.scroll_customy::-webkit-scrollbar-thumb:hover {
  background-color: #941725;
}

body {
  /* background-color: #e1e2e1; */
  background-image: linear-gradient(140deg, #cdcdcd, #f1f0f0);
}

#footer_morena {
  background-color: transparent;
  transition: 500ms;
}

.cont-blog:hover {
  background-image: linear-gradient(140deg, rgba(148, 23, 38, 0.85), rgba(26, 15, 18, 0.85));
}

.degradado {
  background-image: linear-gradient(140deg, rgba(148, 23, 38, 0.85), rgba(26, 15, 18, 0.85));
}

.degradado_solid {
  background-image: linear-gradient(140deg, rgb(148, 23, 38), rgb(26, 15, 18));
}

.txt_edo {
  font-size: 3.7rem;
  transition: 400ms;
}

.txt_edo:hover {
  font-size: 3.9rem !important;
}

.noticia_cont {
  top: 0;
  transition: 700ms;
}

.noticia_cont:hover {
  top: -10px !important;
}

.navbarActive {
  border-bottom: 2px solid #96050fab;
}

.navbarActiveW {
  border-bottom: 2px solid #ffffffab;
}

.delete {
  color: black;
  background-color: initial;
}

.delete:hover {
  color: white;
  background-image: linear-gradient(140deg, rgba(148, 23, 38, 0.85), rgba(26, 15, 18, 0.85));
}

/* .nav-link.disabled {
  pointer-events: none
} */

.flechaRight {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.flechaLeft {
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

#menu_navbar {
  transition: 500ms;
  color: white;
}