body {
  margin: 0;
  font-family: 'oswald-regular' !important;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'oswald-regular';
  src: url('./resources/tipografías/OSWALD-REGULAR.TTF');
}

@font-face{
  font-family: 'owsald-light';
  src: url('./resources/tipografías/OSWALD-LIGHT.TTF');
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */